UserCommand/src/main/resources/jaxb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="/jaxb/gen"
        xmlns:userns="/jaxb/gen"
        elementFormDefault="qualified">

    <complexType name="UserModel">
        <sequence>
            <element name="id" type="int" />
            <element name="email" type="string" />
        </sequence>
    </complexType>

</schema>